/* VARIABLER vi har lavet vores farver til variabler*/
$white: #FFFFFF; 
$beige: #F8F8F8;
$black: #161616;
$blue: #3CD0FF;
$babyblue: #96E6FF;
$darkblue: #0076CC;
$purple: #9301AE;
$pink: #C814EA;


@font-face {
    font-family: "Oswald";
    src: url(fonts/Oswald/static/Oswald-Bold.ttf);
  }

@font-face {
    font-family: "Quicksand";
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

