body{
    margin: 0;
    padding: 0;

}


main{
    margin: 0;
    padding: 0;

}

.web-container{
    display: none;
}


.mob-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media(min-width: 800px){
    .mob-container{
        display: none;
    }

    header{
        display: flex;
        flex-direction: row;
    }

  


    .web-container{
        display: block;
    }

}


