/*Vi kalder på vores partial side*/
@use 'partials';

body{
    margin: 0;
    padding: 0;
    background-color: partials.$beige;

    h1{
        font-family: "Oswald";
        font-weight: bold;
        font-size: 60px;
    }

    h2{
        font-family: "Quicksand";
        font-weight: lighter;
        font-size: 36px;
    }

    h3{
        font-family: "Quicksand";
        font-weight: lighter;
        font-size: 22px;
    }

    p{
        font-family: "Quicksand";
        font-size: 18px;
    }

    footer{
        background-color: partials.$babyblue;
        font-family: "Quicksand";
        font-weight: lighter;
        font-size: 20px;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}


main{
    margin: 0;
    padding: 0;

}

.web-container{
    display: none;
}


.mob-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media(min-width: 800px){
    .mob-container{
        display: none;
    }

    .web-container{
        display: block;
    }

    main{
        height: 100%;
    }


    body {
        overflow: scroll;
        overflow-x: hidden;
        height: 100%;
        margin: 0;
      }
    ::-webkit-scrollbar {
        display: none;
      }


    nav {
        margin-top: 0;
       
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            height: 100vh;
            background-color: #9301AE;
            float: right;
            margin-top: 0;
        }

        li {
            display: block;
            margin: 0px 0px 0px 0px;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            padding-top: 30px;
            padding-right: 40px;
            

            div{
                width: 93%;
                .facebook{
                    img{
                        object-fit: cover;
                        width: 47%;
                    }
                }
            
                .linkedin{
                    img{
                        object-fit: cover;
                        width: 65%;
                    }
                }
            }

        
            a{
                text-decoration: none;
                color: white;
                font-family: "Quicksand";

            }

        }

        
    }

    
    .logo{

        img{
            object-fit: cover;
            width: 20%;
            margin-left: 3rem;
            margin-top: 2rem;
        }
    } 
      
    .box1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;

        div{
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 10%;

            h1{
                margin-top: 6rem;
                margin-bottom: 0;
            }

            h3{
                margin-top: 0;
                margin-bottom: 2rem;
                color: partials.$darkblue;
            }
            

            p{
                width: 90%;
            }


            div{
                background-color: partials.$white;
            padding: 10px;
            width: 63%;
            font-family: "Quicksand";
            border-radius: 6px;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 5rem;
            border: solid 2px partials.$darkblue;

            a{
                color: partials.$darkblue;
                text-decoration: none;
                font-weight: bold;
            }
            }
        }

        img{
            object-fit: cover;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5rem;
        }
    }

    .arrow{
        width: 52%;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .fangmig{
            background-color: partials.$white;
            padding: 10px;
            width: 13%;
            font-family: "Quicksand";
            border-radius: 6px;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 5rem;
            border: solid 2px partials.$blue;

            a{
                color: partials.$blue;
                text-decoration: none;
                font-weight: bold;
            }
    }

    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;

        p{
            text-align: center;
            padding-bottom: 2rem;
        }

        .portfolio-container{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .img1{
        object-fit:cover;
        max-width: 300px;
        height: 300px;
        min-width: 200px;
    }

    .purple-box{
        border-style: solid;
        border-left-color: partials.$purple;
        border-left-width: 2rem;
        border-right-color: partials.$beige;
        border-top-color: partials.$beige;
        border-bottom-color: partials.$beige;

        h2{
            text-align: center;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
        }
    }


}